.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  margin: 20px 0;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-contact li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.footer-contact i {
  margin-right: 8px;
}


.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.footer a {
  color: #fff; 
  text-decoration: none; 
  font-size: 20px;
}