html {
    background-color: #06283D;
}

nav {
    background-color: #06283D;
}

.color-activo {
    color: #47B5FF;
}

.color-activo:focus {
    color: #47B5FF;
}

.color-activo:hover {
    color: #DFF6FF;
}

.logo {
    height: 60px;
}